@import "./theme.css";

:root {
  color: var(--color-text-primary);
  background-color: var(--color-bg-page);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
